@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #333, #999);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  background-color: black;
  height: 100vh;
  font-size: 16px;
  color: #ffffff;
}

footer {
  text-align: center;
  background-color: #999;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 0px;
}

main {
  text-align: center;
  background-color: rgba(0, 0, 0, 0, 0.989);
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  font-weight: 400px;
  font-style: italic;
  letter-spacing: 3x;
}

p1 {
  text-align: center;
  margin-bottom: 5px;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  font-style: italic;
  font-weight: 400px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

p2 {
  text-align: center;
  margin-bottom: 5px;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  font-style: italic;
  font-weight: 400px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

p3 {
  text-align: center;
  margin-bottom: 5px;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  font-style: italic;
  font-weight: 200px;
}

p4, p5 {
  text-align: center;
  margin-bottom: 5px;
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
  letter-spacing: 2,7px;
  font-style: italic;
  font-weight: 50px;
}

.link {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 60px;
  margin-bottom: 25px;
}

ul {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
}

li {
  text-align: center;
  display: inline-block;
  margin-right: 50px;
}

a {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  text-decoration: none;
}

a:hover {
  text-align: center;
  background-color: #555;
}

.parceiro {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.imgpar {
  text-align: center;
  border-radius: 50%;
  border: 2px white solid;
}

.container img {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 150px;
  width: 150px;
  margin-left: 610px;
}

.localsj {
  text-align: center;
  display: inline-block;
  border: white solid;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 21px;
  margin-inline: 95px;
}

.google-analytics {
  display: none;
  font-size: 3px;
}

@media screen and (max-width: 360px) {
  body {
    background-image: linear-gradient(to bottom, #333, #999);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: black;
    color: #ffffff;
    width: 100%;
    height: auto 100vh;
  }

  .corpo {
    background-image: linear-gradient(to bottom, #797777, #999);
    height: auto 100vh;
    width: auto 100%;
  }

  footer {
    text-align: center;
    background-color: #999;
    text-align: center;
    margin-top: 0px;
    width:auto;
  }

  main {
    text-align: center;
    background-color: rgba(0, 0, 0, 0, 0.989);
    margin: 0;
    padding: 0;
    width:auto 100%;
    height: auto 100%;
  }

  h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Bebas Neue", cursive;
    font-size: 30px;
    font-weight: 400px;
    font-style: italic;
    letter-spacing: 3x;
  }

  p1,
  p2,
  p3 {
    text-align: center;
    margin-bottom: 5px;
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
    font-style: italic;
    font-weight: 400px;
    letter-spacing: 1px;
    margin-top: 20px;
  }

  .link {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 25px;
  }

  ul {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
  }

  li {
    text-align: center;
    display: inline-block;
    margin-right: 20px;
  }

  a {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
  }

  a:hover {
    text-align: center;
    background-color: #555;
  }

  .parceiro {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .imgpar {
    text-align: center;
    border-radius: 50%;
    border: 2px white solid;
  }

  .container img {
    display: inline-block;
    text-align: center;
    max-width: 100%;
    margin-left: 105px;
  }

  .localsj {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-left: 80px;
    display: inline-block;
    border: white solid;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .google-analytics {
    display: none;
    font-size: 3px;
  }
}

@media screen and (min-width: 1000px) {
  .container img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    margin-left: 886px;
  }
}
